{%  extends 'base.html' %}
{% block content %}
    <table id="tickets-table" class="table table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Поїзд</th>
                <th>Дата відправлення</th>
                <th>Звідки</th>
                <th>Куди</th>
                <th>Вагон</th>
                <th>Місце</th>
                <th>Тариф</th>
                <th>Додатково</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Поїзд</th>
                <th>Дата відправлення</th>
                <th>Звідки</th>
                <th>Куди</th>
                <th>Вагон</th>
                <th>Місце</th>
                <th>Тариф</th>
                <th>Додатково</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </tfoot>
        <tbody id="tickets-table-body">
            {% for t in TICKETS %}
                <tr class="table-active">
                    <td>{{ t.1 }}</td>
                    <td>{{ t.2 }}</td>
                    <td>{{ t.3 }}</td>
                    <td>{{ t.4 }}</td>
                    <td>{{ t.5 }}</td>
                    <td>{{ t.6 }}</td>
                    <td>{{ t.7 }}</td>
                    <td>{{ t.8 }}<br>{{ t.9 }}<br>{{ t.10 }}</td>
                    <td><button name="edit" id="{{ t.0 }}_edit">Edit</button></td>
                    <td><button name="delete" id="{{ t.0 }}_del">Delete</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <style>
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>

    <script>
        $('button[name="delete"]').click(function () {
            var but = $(this).attr('id');
            console.log(but);
            $.post('delete_ticket/', {ticket: but})
                    .done(function (response) {
{#                        window.location.href="index/show/";#}
                        window.location.reload();
                    })
                    .fail(function (jqXHR) {
                        var error = JSON.parse(jqXHR);
                        console.log("FAIL");
                        console.log(error.status + " " + error.message);
                    });
        });

        $('button[name="edit"]').click(function () {
            var but = $(this).attr('id');
            window.location.href = but;
        });
    </script>

{% endblock content %}