{%  extends 'base.html' %}
{% block content %}

        <div class="container">
        <div class="row">
            <form class="form-horizontal" role="form" name="edit_params">

                <div class="form-group">
                    <legend>Редагувати квиток</legend>
                </div>

                <div class="form-group">
                    <h4><p><label class="control-label" for="st_from">Звідки:</label>
                    <input type="text" id="st_from" name="st_from" value="{{ ticket.3 }}" disabled><br>
                    <label class="control-label" for="st_to">Куди:</label>
                    <input type="text" id="st_to" name="st_to" value="{{ ticket.4 }}" disabled></p></h4>
                </div>

                <div class="form-group">
                    <label class="control-label" for="date_dep">Дата відправлення:</label>
                    <input type="date" id="date_dep" name="date_dep" value="{{ ticket.2 }}"><br>
                    <label class="control-label">
                        <p align="left">Поїзд:</p>
                        <div id="trains-div"></div>
                    </label>
                </div>
                <hr>

                <!-- Місце -->
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="carriage">Вагон:</label>
                        <input type="text" id="carriage" name="carriage" placeholder="" value="{{ ticket.5 }}">
                    </div>
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="place">Місце:</label>
                        <input type="text" id="place" name="place" placeholder="" value="{{ ticket.6 }}">
                    </div>
                </div>
                <hr>

                <!-- Тариф -->
                    <div class="form-group">
                        <p><h4>Тариф:</h4></p>
                        <div class="col-sm-10 col-sm-offset-2">
                            <label class="control-label" for="rare_type">Тип:</label>
                            <label class="radio-inline">
                                    <input type="radio" name="rare_type" value="r">
                                    <strong>Плацкарт</strong>
                            </label>
                            <label class="radio-inline">
                                    <input type="radio" name="rare_type" value="c">
                                    <strong>Купе</strong>
                            </label>
                            <label class="radio-inline">
                                    <input type="radio" name="rare_type" value="l">
                                    <strong>Люкс</strong>
                            </label>
                        </div>
                        <div class="col-sm-10 col-sm-offset-2">
                            <div class="checkbox">
                                <label><input type="checkbox" value="bed" name="adds">Білизна</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="ben" name="adds">Пільги</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="tea" name="adds">Чай/Кава</label>
                            </div>
                        </div>
                    </div>
                    <hr>

                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary" id="save-btn">
                            <span class="glyphicons glyphicon-envelope"></span>Зберегти
{#                            <span class="glyphicon glyphicon-search"></span> Пошук#}
                        </button>
                    </div>
                </div>
                <hr>
            </form>
        </div>
        </div>
    
    <script>
        $(document).ready(function () {
            var ticket;
            var st_from;
            var st_to;
            var date_dep;

                $.get('get_params/')
                    .done(function (response) {
                        ticket = response.ticket;
                        st_from = ticket[3];
                        st_to = ticket[4];
                        date_dep = ticket[2];
                        console.log(ticket);

                        $.post('search/', {st_from_e: st_from, st_to_e: st_to, date_dep_e: date_dep})
                                .done(function (response) {
                                    console.log(response);
                                    if (response.trains.length > 0) {
                                        var html = "";
                                        $(response.trains).each(function (i, val) {
                                            console.log(val);
                                            var date = new Date(val[1]);
                                            var str_date = date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-' + date.getDate();
                                            html += "<label class=\"radio\"><input type=\"radio\" name=\"train\" value=\"" + val[0] + "," + str_date + "\"";
                                            if(val[0] == ticket[1]) html += " checked";
                                            html += "><strong>" + val[0] + ",  " + str_date + "</strong></label>";
                                        });
                                        $('#trains-div').append(html);
                                        $('#search_results').show();
                                    }
                                    console.log("DONE");
                                })
                                .fail(function (jqXHR) {
                                    var error = JSON.parse(jqXHR);
                                    console.log("FAIL");
                                    console.log(error.status + " " + error.message);
                                });
                        if(ticket[7] == "r") $('input[name="rare_type"]')[0].checked = true;
                        else if (ticket[7] == "c") $('input[name="rare_type"]')[1].checked = true;
                        else if (ticket[7] == "l") $('input[name="rare_type"]')[2].checked = true;

                        if(ticket[8] == 1) $('input[name="adds"]')[0].checked = true;
                        if(ticket[9] == 1) $('input[name="adds"]')[1].checked = true;
                        if(ticket[10] == 1) $('input[name="adds"]')[2].checked = true;

                    });
        });

        $('form[name="edit_params"]').submit(function(e) {
            e.preventDefault();

            $.post('save_edit/', $(this).serialize())
                    .done(function () {
{#                        window.location.reload(false);#}
                        window.location.href = "/index/show";
                    })
                    .fail(function(jqXHR) {
                            var error = JSON.parse(jqXHR);
                            console.log("FAIL");
                            console.log(error.status + " " + error.message);
                        });
        });

        $('input[name="date_dep"]').change(function () {
            var st_from = $('#st_from').val();
            var st_to = $('#st_to').val();
            var date_dep = $('#date_dep').val();

            console.log(st_from);
            console.log(st_to);
            console.log(date_dep);

            $.post('search/', {st_from_e: st_from, st_to_e: st_to, date_dep_e: date_dep})
                    .done(function (response) {
                        console.log(response);
                        if (response.trains.length > 0) {
                            var html = "";
                            $(response.trains).each(function (i, val) {
                                console.log(val);
                                var date = new Date(val[1]);
                                var str_date = date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-' + date.getDate();
                                html += "<label class=\"radio\"><input type=\"radio\" name=\"train\" value=\"" + val[0] + "," + str_date + "\"";
                                html += "><strong>" + val[0] + ",  " + str_date + "</strong></label>";
                            });
                            $('#trains-div').empty().append(html);
                        }
                    });
        });
    </script>

{% endblock content %}