{%  extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <form class="form-horizontal" role="form" name="search_params">
                <div class="form-group">
                    <legend>Купити квиток</legend>
                </div>

{#                <div class="form-group">#}
{#                    <div class="col-sm-10 col-sm-offset-2">#}
{#                        <label class="control-label" for="st_from_R">Входження цілої фрази(Звідки):</label>#}
{#                        <input type="text" id="st_from_R" name="st_from_R" placeholder="">#}
{#                        <button type="button" id="st_from_btn_R" class="btn btn-primary">OK</button><br>#}
{#                        <div id="st_from-div-R">#}
{#                        </div>#}
{#	                </div>#}
{#                </div>#}
{#                <hr>#}

                <!-- Дані для пошуку -->
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="st_from">Звідки:</label>
                        <input type="text" id="st_from" name="st_from" placeholder="">
                        <button type="button" id="st_from_btn" class="btn btn-primary">OK</button><br>
                        <div id="st_from-div">
                        </div>
	                </div>
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="st_to">Куди:</label>
                        <input type="text" id="st_to" name="st_to" placeholder="">
                        <button type="button" id="st_to_btn" class="btn btn-primary">OK</button><br>
                        <div  id="st_to_div">
                        </div>
	                </div>
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="date_start">Дата (з):</label>
                        <input type="date" name="date_start" id="date_start"/>
	                </div>
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="control-label" for="date_finish">Дата (до):</label>
                        <input type="date" name="date_finish" id="date_finish"/>
	                </div>
                </div>
                <hr>

                <!-- Пошук -->
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary" id="search-btn-2">
                            <span class="glyphicon glyphicon-search"></span> Пошук
                        </button>
                    </div>
                </div>
                <hr>

                <div id="search_results" hidden="hidden">
                    <!-- Поїзд -->
                    <div class="form-group">
                        <label class="control-label">
                            <p align="left">Поїзд:</p>
                            <div id="trains-div"></div>
                        </label>
                    </div>
                    <hr>

                    <!-- Місце -->
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <label class="control-label" for="carriage">Вагон:</label>
                            <input type="text" id="carriage" name="carriage" placeholder="">
                        </div>
                        <div class="col-sm-10 col-sm-offset-2">
                            <label class="control-label" for="place">Місце:</label>
                            <input type="text" id="place" name="place" placeholder="">
                        </div>
                    </div>
                    <hr>

                    <!-- Тариф -->
                    <div class="form-group">
                        <p><h4>Тариф:</h4></p>
                        <div class="col-sm-10 col-sm-offset-2">
                            <label class="control-label" for="rare_type">Тип:</label>
                            <label class="radio-inline">
                                    <input type="radio" name="rare_type" value="r" checked>
                                    <strong>Плацкарт</strong>
                            </label>
                            <label class="radio-inline">
                                    <input type="radio" name="rare_type" value="c">
                                    <strong>Купе</strong>
                            </label>
                            <label class="radio-inline">
                                    <input type="radio" name="rare_type" value="l">
                                    <strong>Люкс</strong>
                            </label>
                        </div>
                        <div class="col-sm-10 col-sm-offset-2">
                            <div class="checkbox">
                                <label><input type="checkbox" value="bed" name="adds">Білизна</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="ben" name="adds">Пільги</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="tea" name="adds">Чай/Кава</label>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <!-- Розрахувати ціну -->
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2" id="total-price">
                            <button type="button" class="btn btn-primary" id="count-total-btn">
                                <span class="glyphicon glyphicon-download"></span> Розрахувати ціну
                            </button>
                        </div>
                    </div>

                    <!-- Купити -->
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="button" class="btn btn-primary" id="buy-ticket-btn">
                                <span class="glyphicon glyphicon-download"></span> Купити квиток
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        $('#st_from_btn').click(function () {
           $.post('get_stations_from/', $('form[name="search_params"]').serialize())
                    .done(function (response) {
                        console.log(response);
                        var html = "";
                        $(response.st_from).each(function (i, val) {
                            html += "<label class=\"radio\"><input type=\"radio\" name=\"st_from_radio\" value=\""+ val +"\"><strong>" + val + "</strong></label>";
                        });
                        $('#st_from-div').empty();
                        $('#st_from-div').append(html);
                    })
                    .fail(function (jqXHR) {
                        var error = JSON.parse(jqXHR);
                        console.log("FAIL");
                        console.log(error.status + " " + error.message);
                    });
        });

        $('#st_to_btn').click(function () {
           $.post('get_stations_to/', $('form[name="search_params"]').serialize())
                    .done(function (response) {
                        var html = "";
                        $(response.st_to).each(function (i, val) {
                            html += "<label class=\"radio\"><input type=\"radio\" name=\"st_to_radio\" value=\""+ val +"\"><strong>" + val + "</strong></label>";
                        });
                        $('#st_to_div').empty();
                        $('#st_to_div').append(html);
                    })
                    .fail(function (jqXHR) {
                        var error = JSON.parse(jqXHR);
                        console.log("FAIL");
                        console.log(error.status + " " + error.message);
                    });
        });

        $(document).ready(function() {
            $('form[name="search_params"]').submit(function(e) {
                e.preventDefault();

                $.post('search/', $(this).serialize())
                .done(function(response) {
                    console.log(response);
                    if(response.trains.length > 0) {
                        var html = "";
                        $(response.trains).each(function (i, val) {
                            console.log(val);
                            var date =  new Date(val[1]);
                            var str_date = date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-' + date.getDate();
                            html += "<label class=\"radio\"><input type=\"radio\" name=\"train\" value=\"" + val[0] + "," + str_date + "\"><strong>"+ val[0] + ",  " + str_date +"</strong></label>";
                        });
                        $('#trains-div').append(html);
                        $('#search_results').show();
                    }
                    console.log("DONE");
                })
                .fail(function(jqXHR) {
                    var error = JSON.parse(jqXHR);
                    console.log("FAIL");
                    console.log(error.status + " " + error.message);
                });
            });
        });

        $('#buy-ticket-btn').click(function () {
            $.post('buy_ticket/', $('form[name="search_params"]').serialize())
                .done(function (response) {
                    window.location.reload();
                    alert("You bought a ticket");
                })
                .fail(function (jqXHR) {
                    var error = JSON.parse(jqXHR);
                    console.log("FAIL");
                    console.log(error.status + " " + error.message);
                });
        });

        $('#count-total-btn').click(function () {
            $.post('calculate_total/', $('form[name="search_params"]').serialize())
                .done(function (response) {
                    console.log(response.total)
                    var html ="<label>Кінцева ціна: </label><label>" + response.total + " гривень</label>";
                    $('#total-price').empty();
                    $('#total-price').append(html);
                })
                .fail(function (jqXHR) {
                    var error = JSON.parse(jqXHR);
                    console.log("FAIL");
                    console.log(error.status + " " + error.message);
                });
        });

        $('#st_from_btn_R').click(function () {
            $.post('stations_from_R/', {st_from: $('#st_from_R').val()})
                    .done(function (response) {
                        var html = "";
                        $(response.st_from).each(function (i, val) {
                            html += "<label class=\"radio\"><input type=\"radio\" name=\"st_from_radio\" value=\""+ val +"\"><strong>" + val + "</strong></label>";
                        });
                        $('#st_from-div-R').empty();
                        $('#st_from-div-R').append(html);
                    });
        });
    </script>
{% endblock content %}