{%  extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Параметри пошуку:
                        </th>
                        <th>Дата відправлення</th>
                        <th>
                            <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Звідки
                                <span class="caret"></span>
                              </button>
                              <ul id="set-from" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                  {% for t in st_from %}
                                    <li><a href="#" onclick="setDropdownValue(this, this.parentNode.parentNode.id)">{{ t }}</a></li>
                                  {% endfor %}
                              </ul>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Куди
                                <span class="caret"></span>
                              </button>
                              <ul id="set-to" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                  {% for t in st_to %}
                                    <li><a href="#" onclick="setDropdownValue(this, this.parentNode.parentNode.id)">{{ t }}</a></li>
                                  {% endfor %}
                              </ul>
                            </div>
                        </th>
                        <th>Вагон</th>
                        <th>Місце</th>
                        <th>
                            <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Тариф
                                <span class="caret"></span>
                              </button>
                              <ul id="set-rare" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                  {% for t in rares %}
                                    <li><a href="#" onclick="setDropdownValue(this, this.parentNode.parentNode.id)">{{ t }}</a></li>
                                  {% endfor %}
                              </ul>
                            </div>
                        </th>
                        <th></th>

                    </tr>
                </thead>

                <tbody>
                    <tr class="table-active">
{#                        <td><input type="text" class="form-control" id="search-train" disabled></td>#}
                        <td><button type="button" class="btn btn-danger" onclick="window.location.reload()">Скинути параметри</button></td>
                        <td><input type="date" class="form-control" id="search-date"></td>
                        <td><input type="text" class="form-control" id="search-from" disabled></td>
                        <td><input type="text" class="form-control" id="search-to" disabled></td>
                        <td><input type="number" class="form-control" id="search-carriage"></td>
                        <td><input type="number" class="form-control" id="search-place"></td>
                        <td><input type="text" class="form-control" id="search-rare" disabled></td>
                        <td><button type="button" class="btn btn-success" onclick="search(null)">Пошук</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <legend id="legend-res"></legend>

    <div class="row">
        <div class="col-sm-12">
            <table id="tickets-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Поїзд</th>
                        <th>Дата відправлення</th>
                        <th>Звідки</th>
                        <th>Куди</th>
                        <th>Вагон</th>
                        <th>Місце</th>
                        <th>Тариф</th>
                        <th>Додатково</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Поїзд</th>
                        <th>Дата відправлення</th>
                        <th>Звідки</th>
                        <th>Куди</th>
                        <th>Вагон</th>
                        <th>Місце</th>
                        <th>Тариф</th>
                        <th>Додатково</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </tfoot>
                <tbody id="tickets-table-body">
                    {% for t in TICKETS %}
                        <tr class="table-active">
                            <td>{{ t.1 }}</td>
                            <td>{{ t.2 }}</td>
                            <td>{{ t.3 }}</td>
                            <td>{{ t.4 }}</td>
                            <td>{{ t.5 }}</td>
                            <td>{{ t.6 }}</td>
                            <td>{{ t.7 }}</td>
                            <td>{{ t.8 }}<br>{{ t.9 }}<br>{{ t.10 }}</td>
                            <td><button name="edit" id="{{ t.0 }}_edit">Edit</button></td>
                            <td><button name="delete" id="{{ t.0 }}_del">Delete</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>

        var params = {};
        params.date = new Date();
        params.date = ""+params.date.getFullYear()+"-"+(params.date.getMonth() + 1)+"-"+params.date.getDate()+"";
        params.from = "";
        params.to = "";
        params.carriage = "";
        params.place = "";
        params.rare = "";
        window.onload = search(params);

        function setDropdownValue(obj, parent) {
            var input = "search-" + parent.split('-')[1];
            $('#' + input).val(obj.text);
        }

        function editBtn(id) {
            console.log(id);
            window.location.href = id;
        }

        function deleteBtn(id) {
            console.log(id);

            $.post('delete_ticket/', {ticket: id})
                    .done(function (response) {
                        window.location.reload();
                    })
                    .fail(function (jqXHR) {
                        var error = JSON.parse(jqXHR);
                        console.log("FAIL");
                        console.log(error.status + " " + error.message);
                    });
        }

        function search(params) {
            if(params == null){
                params = {};
                params.date = $('#search-date').val();
                params.from = $('#search-from').val();
                params.to = $('#search-to').val();
                params.carriage = $('#search-carriage').val();
                params.place = $('#search-place').val();
                params.rare = $('#search-rare').val();
            }

            console.log(params);

            $.post('search/', {params: JSON.stringify(params)})
                    .done(function (response) {
                        $('#legend-res').text('Результат: ' + response.result.count + ' квитків');
                        $('#tickets-table-body').empty().append(response.result.html);
                    })
                    .fail(function (jqXHR) {
                        var error = JSON.parse(jqXHR);
                        console.log("FAIL");
                        console.log(error.status + " " + error.message);
                    });
        }
    </script>

{% endblock content %}